$ cat .gitignore

# Ignorar arquivos específicos
enviamail_inscricao.asp
global.asp
juslaboral.sql
_caminho.asp
enviaemail.asp
web.config

# Use curingas como
# *~
# *.swp

# Ignorar todos os diretórios e arquivos em um diretório.
# tmp/**/*
ckeditor/
uploads/